body {
  background-color: rgb(189, 167, 138);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 3.5em;
  font-stretch: ultra-expanded;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-size: 250px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  outline: tomato;
}
